POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

JWT_SECRET=eventus-local-development-secret-key-not-for-real-use
JWT_ISSUER=eventus-identity
JWT_AUDIENCE=eventus-services

PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=admin
